/* Product Reviews *******  */
.form--productreview,
.button--createProductreview {
    /* text-align: center; */
}

.form--productreview > fieldset {}

.form--radiobuttons {}



/* Ratings *******  */
.container__ratings {
    display: flex;
    flex-direction: column;
    font-size: small;
    white-space: nowrap;
}

.container__avgRating, 
.container__myRating {
    text-align: right;
    display: flex;
    flex-direction: row;
    padding: 0 4rem 0 0;
    align-items: center;
}

.product__ratingTitle {
    font-weight: bold;
    padding: 0 .5rem 0 0;
}    

.product__ratingValue {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 0;
    white-space: nowrap;
    align-items: center;
}    

.product__ratingValue > a, 
.product__ratingValue > a:link, 
.product__ratingValue > a:visited, 
.product__ratingValue > a:hover, 
.product__ratingValue > a:active {
    color: #3f51b5;
}