/* Filters */
.container--productFilters {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0 2rem 0 2rem;
}

.container--filterSet {
    padding: 0 5rem 0 0;
}

.filter__title {
    font-weight: bold;
}

/* ['outline: none' removes focus box when button is clicked] */
/* ['cursor: pointer' changes cursor from arrow to hand when hover over button] */
.button--filterProductGroup, 
.button--filterScentFamily,
.button--viewAll {
    color: #3f51b5;
    border-color: #3f51b5;
    background: none;
    border-right: .5px dotted;
    border-left: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    outline: none; 
} 

.button--clearFilter {
    background: none;
    border: none;
    cursor: pointer;
    outline: none; 
} 
