/* Filters */
.container--productFilters {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0 2rem 0 2rem;
}

.container--filterSet {
    padding: 0 5rem 0 0;
}

.filter__title {
    color: #f73378;
    /* color: #3f50b5; */
}

