/* index.html */
main {
    margin: 0;
}

header {
    margin: 2rem;
}

footer {
    font-size: small;
    margin: 2rem;
}



/* Form ****** */
.productForm__title, 
.form--product,
.button--createProduct {
    text-align: left;
}

.form--product > fieldset, 
.button--viewProductDetail {
    border: none;
}

.form--product > .form-control-a {
    margin: 1em;
    width: 30ch;
}

.form--product > .form-control-b {
    margin: 1em;
    width: 60ch;
}

/* Products Header */
.products__header {
    display: flex;
    align-items: center;
}

.title {
    padding: 0 2rem 0 0;
}



/* Product Card ******* */
.container__card {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.25rem;
}

.container__productInfo {    
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    width: 95%;
}

.container__productButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 5%;
    white-space: nowrap;
}



.container__productText {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 2rem;
    justify-content: space-between;
}        

.container__productDetail {}    

.container__productImage {
    padding: 2rem;
    justify-items: left;
}     

.container__productList {
    margin: 2rem;
}    

.product__imgURL {
    width: 8em;
}        



/* Product Details *******  */
.product__brand {
    font-weight: bold;
    font-size: large;
}

.product__name {
    font-weight: bold;
    font-size: medium;
}

.product__family,
.product__group {
    font-size: smaller;
}


/* Footer icon image attribution *******  */
.imageAttribution > a, 
.imageAttribution > a:link, 
.imageAttribution > a:visited, 
.imageAttribution > a:hover, 
.imageAttribution > a:active {
    color: inherit;
}