/* index.html */
main {
    margin: 0;
}

header {
    margin: 2rem;
}

footer {
    font-size: small;
    margin: 2rem;
}



/* Form ****** */
.form--product,
.button--createProduct {
    text-align: center;
}

.form--product > fieldset, 
.button--viewProductDetail {
    border: none;
}



/* Products Header */
.products__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    padding: 0 2rem 0 0;
}



/* Product Card ******* */
.container__card {
    display: flex;
    flex-direction: row;
    width: 60%;
    background-color: whitesmoke;
    padding: 2rem;
    margin: 2rem;
}

.container__productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}    

.container__productText {}    

.container__productImage {
    width: 40%;
    padding: 0 2rem 0 0;
    justify-items: left;
}    

.product__imgURL {
    width: 110px;
}    

.container__productButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    width: 20%;
    white-space: nowrap;
}



/* Product Details *******  */
.product__brand {
    font-weight: bold;
    font-size: large;
}

.product__name {
    font-weight: bold;
    font-size: medium;
}

.product__family,
.product__group {
    font-size: smaller;
}

