
.homepage__main {
}

.container--homepageButtons {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.container--homepageButtons > Button {
    margin: 1rem;
}

.button--selectProductGroup {
}


.button__imgURL {
    width: 2em;
} 