.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #353535;
    font-weight: bold;
}

.navbar__item {
    list-style-type: none;
    margin: .75rem;
}

.navbar__link {
    color: #FAFAFA;
    text-decoration: none;
}